@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

[class*="__container"] {
    max-width: 1040px;
    margin: 0 auto;
    padding: 0 20px;
}


body {
    font-family: "Roboto";
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #ffff;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
}

.header {
    padding: 28px 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    // .header__top

    &__top {
        display: flex;
        gap: 28px;
        flex-wrap: wrap;

    }

    // .header__time

    &__time {
        background: url("../img/header/time.svg") 0 0 / 24px no-repeat;
        min-height: 24px;
        padding: 0 0 0 30px;
    }

    // .header__phone

    &__phone {
        background: url("../img/header/phone.svg") 0 0 / 24px no-repeat;
        min-height: 24px;
        padding: 0 0 0 30px;
    }

    // .header__bottom

    &__bottom {
        display: flex;
        background: #ffff;
        min-height: 60px;
        border-radius: 10px;

        @media (max-width:426px) {
            background: rgba(255, 255, 255, 0.315);
            margin: 0 -30px;

        }

    }

    // .header__nav

    &__nav {
        flex: 1 1 auto;
        align-items: center;
        justify-content: center;
        align-self: center;


        &:not(:last-child) {
            margin: 0px 20px 0px 0px;
        }


    }

}

.icon-shop {
    display: inline-flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    column-gap: 20px;
    margin: 0px 30px 0px 0px;

    &__link {
        position: relative;
        top: 0;
        left: 0;
        max-width: 100%;


    }

    // .icon-shop__ico

    &__ico {
        flex: 0 0 18px;
        min-height: 18px;
        //width: 100%;
    }

    span {
        background: #F2726F;
        border-radius: 50%;
        font-size: 10px;
        line-height: 1.8;
        align-items: center;
        text-align: center;
        letter-spacing: 0.15px;
        display: inline-block;
        position: absolute;
        padding: 0 5px;
        top: -7px;
        right: -5px;
    }
}



.header__container {
    row-gap: 28px;
    display: flex;
    flex-direction: column;
}



.logo {
    flex: 1 1 auto;
    // .logo__link

    &__link {
        display: inline-flex;
        max-width: 100%;
    }

    // .logo__image

    &__image {
        flex: 0 0 174px;
        min-height: 41px;
        max-width: 100%;
    }
}

.header__contacts {
    font-weight: 700;
    font-size: 12px;
    line-height: 183%;
    display: flex;
    flex-wrap: wrap;
    letter-spacing: 0.15px;
    row-gap: 20px;
}

.header__contacts *:not(:last-child) {
    margin: 0px 30px 0px 0px;
}

.header-button {}

.button {
    font-size: 12px;
    line-height: 2;
    display: inline-flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.15px;
    text-transform: uppercase;
    background: #F2726F;
    border-radius: 8px;
    padding: 0 35px;
    min-height: 40px;
    box-shadow: 8px 15px 17px 1px rgba(7, 7, 7, 0.2);
    transition: all 0.5s ease 0s;

    &:hover {
        background: rgba(137, 95, 95, 0.315);
        color: #000000;
    }
}

.menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px 0;

    @media (max-width:425px) {
        flex-direction: column;
    }

    // .menu__list


    a,
    &__list {
        font-weight: 700;
        font-size: 14px;
        line-height: 157%;
        letter-spacing: 0.15px;
        color: #000000;
        display: inline-flex;
        padding: 0 0 0 30px;
        transition: all 0.5s ease 0s;

        &:hover {
            color: #F2726F;
            text-decoration: underline;
        }
    }


}

/*=========================block-info==================================================================*/

.main {}

.block-info {
    background: url("../img/main/image.png")center/cover no-repeat;
    padding: 280px 0 312px;

    @media (max-width:426px) {
        padding: 180px 0 312px;

    }

    .block-info__title {
        font-weight: 900;
        font-size: 56px;
        line-height: 1;
        max-width: 583px;

        &:not(:last-child) {
            margin: 0px 0px 48px 0px;
        }

        @media (max-width:750px) {
            padding: 50px 0 0 0;
            font-size: 45px;

            &:not(:last-child) {
                margin: 0px 0px 18px 0px;
            }
        }

        @media (max-width:470px) {
            padding: 260px 0 0 0;
            font-size: 35px;
            max-width: 100%;

        }
    }
}

.who-we-are {

    // .who-we-are__container

    &__container {
        background: #5D62B5 url("../img/who-we-are/dog-blog.svg")60px 390px/ 553px no-repeat;
        border-radius: 40px;
        padding: 100px 87px 0px 87px;
        position: relative;
        top: -120px;
        left: 0;

        &::before {
            content: "";
            background: url("../img/who-we-are/stylize-circles.svg")0 0/201px no-repeat;
            width: 201px;
            height: 317px;
            display: inline-block;
            position: absolute;
            right: -60px;
            top: -110px;
        }

        @media (max-width:999px) {
            background: #5D62B5 url("../img/who-we-are/dog-blog.svg")60px 420px/ 470px no-repeat;


            &::before {
                content: "";
                background: url("../img/who-we-are/stylize-circles.svg")0 0/151px no-repeat;
                width: 151px;
                height: 237px;
                display: inline-block;
                position: absolute;
                right: -40px;
                top: -110px;
            }


        }


        @media (max-width:670px) {
            background: #5D62B5 url("../img/who-we-are/dog-blog.svg")60px bottom/ 230px no-repeat;
            padding: 30px 37px 0px 37px;


            &::before {
                content: "";
                background: url("../img/who-we-are/stylize-circles.svg")0 0/101px no-repeat;
                width: 101px;
                height: 237px;
                display: inline-block;
                position: absolute;
                right: -40px;
                top: -90px;
            }


        }
    }

    // .who-we-are__content

    &__content {
        padding: 36px 0 0 0;
    }

    // .who-we-are__text

    &__text {
        max-width: 847px;


    }


    @media (max-width:420px) {
        &__content {
            padding: 26px 0 20px 0;
        }


    }

}

.who-we-are__image img {
    max-width: 100%;
    position: relative;
    bottom: -120px;
    left: 0;

}

.who-we-are__dog {
    flex: 0 0 846px;
    max-width: 100%;

}

@media (max-width:670px) {
    .who-we-are__image img {
        position: relative;
        bottom: -30px;
        left: 0;

    }

    .who-we-are__dog {
        flex: 0 0 846px;
        max-width: 100%;

    }


}

@media (max-width:420px) {
    .who-we-are__image img {
        position: relative;
        bottom: 0;
        left: 0;

    }

    .who-we-are__dog {
        flex: 0 0 846px;
        max-width: 100%;

    }


}

.block-header {

    // .block-header__sub-title

    &__sub-title {
        font-weight: 700;
        font-size: 12px;
        line-height: 2;
        letter-spacing: 2.5px;
        text-transform: uppercase;
        color: #F5F5F5;
        // .block-header__sub-title_white

        &_white {
            background: url("../img/who-we-are/overline.svg")0 5px / 20px no-repeat;
            min-height: 20px;
            padding: 0 0 0 30px;

            &:not(:last-child) {
                margin: 0px 0px 36px 0px;
            }
        }

        @media (max-width:670px) {



            &_white {
                background: url("../img/who-we-are/overline.svg")0 5px / 20px no-repeat;
                min-height: 20px;
                padding: 0 0 0 20px;

                &:not(:last-child) {
                    margin: 0px 0px 16px 0px;
                }
            }



        }

    }

    // .block-header__title

    &__title {
        font-weight: 900;
        font-size: 36px;
        line-height: 117%;
        max-width: 583px;
    }

    @media (max-width:670px) {



        &__title {

            font-size: 25px;
            line-height: 90%;

        }



    }
}